.screen__card {
  position: sticky;
  max-width: 816px;
  height: 630px;
  margin: auto;
  top: 95px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 880px) {
  .screen__card {
    max-width: 400px;
    height: 589px;
  }
}

@media screen and (max-width: 768px) {
  .screen__card {
    max-width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .screen__card {
    max-width: 200px;
  }
}
