.perfil__profission {
    width: 415px;
    height: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    display: flex;
    margin: 0;
    margin-top: 16px;

    color: #FFFFFF;
}

@media screen and (max-width: 320px) {
    .perfil__profission {
        width: 282px;
        height: 14px;
        display: flex;
        justify-content: center;
        margin-top: 14px;
    }  
}