.footer__text {
    width: 318px;
    height: 18px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 68px;
    margin-bottom: 60px;

    color: #545454;
}