<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Around The U.S.</title>
</head>

<body class="page">
  <header class="header">
    <div class="logo">
      <img src="<%= require('./images/logo.png')%>" class="logo__photo" alt="logo de Around TheUS">
    </div>
  </header>

  <main class="content">
    <section class="perfil">
      <img src="<%= require('./images/perfil.jpg')%>" class="perfil__photo" alt="foto de perfil do usuário">
      <div class="perfil__card">
        <h1 class="perfil__name">Jacques Cousteau</h1>
        <button class="button-edit"><img src="<%= require('./images/image-button-edit.png')%>" alt="desenho de uma caneta"></button>
        <h2 class="perfil__profission">Explorar</h2>
      </div>
      <button class="button-add"><img src="<%= require('./images/image-button-add.png')%>" alt="um sinal de mais usado como botão de adicionar"></button>
    </section>

    <div class="popup popup-edit">
      <form class="form-edit popup__form" name="form__edit" id="form-edit-profile">
        <h2 class="popup__title">Editar perfil</h2>
        <input class="input input-name" type="text" name="name" placeholder="Nome" required minlength="2" maxlenght="40">
        <span class="span"></span>
        <input class="input input-description" type="text" name="description" placeholder="Sobre mim" required minlength="2" maxlenght="40">
        <span class="span"></span>
        <button disabled class="button-save button-inactive" type="submit">Salvar</button>
        <div class="button-close-popup close-edit"><img class="button-close-popup__image" src="<%= require('./images/image-button-close.png')%>" alt="grande icone em 'x' para usado para fechar o popup"></div>
      </form>
    </div>

    <div class="popup popup-add">
      <form class="form-add popup__form" name="form__add" id="form-add-profile">
        <h2 class="popup__title">Novo local</h2>
        <input class="input input-título" type="text" name="name" placeholder="Título" required minlength="2" maxlenght="40">
        <span class="span"></span>
        <input class="input input-link" type="url" name="link" placeholder="Link de imagem" required minlength="2" maxlenght="40">
        <span class="span"></span>
        <button disabled class="button-create button-inactive" type="submit">Criar</button>
        <button class="button-close-popup close-add"><img class="button-close-popup__image" src="<%= require('./images/image-button-close.png')%>" alt="grande icone em 'x' para usado para fechar o popup"></button>
      </form>
    </div>

    <div class="popup popup-screen">
      <div class="popup-screen-card">
        <button class="button-close-popup popup-close"><img class="button-close-popup__image" src="<%= require('./images/image-button-close.png')%>" alt="grande icone em 'x' para usado para fechar o popup"></button>
        <img src="" class="popup-screen-image popup-screen-image:hover" alt="imagem que recebeu o click ampliada">
        <h2 class="popup-screen-title"></h2>
      </div>
    </div>

    <ul class="card">
    </ul>
  </main>

  <footer class="footer">
    <p class="footer__text">© 2021 Around The U.S.</p>
  </footer>

  <template id="template">
    <li class="card__places">
      <img src=" " class="card__photo" alt="">
      <button class="card__remove card__remove:hover" alt="imagem pequena de uma lixeira"></button>
      <div class="card__info">
        <h2 class="card__title"></h2>
        <img src="<%= require('./images/card__image-NullLike.jpg')%>" data-liked="false" class="card__image card__image:hover" alt="imagem de coração de curtir">
      </div>
    </li>
  </template>


  <script type="module" src="./components/initialCards.js"></script>
  <script type="module" src="./components/Card.js"></script>
  <script type="module" src="./components/FormValidator.js"></script>
  <script type="module" src="./utils/utils.js"></script>
  <script type="module" src="./index.js"></script>
  
</body>
</html>
